AWS_ACCESS_KEY_ID={{ backup_configurer.user_meta.access_keys.0.access_key_id }}
AWS_SECRET_ACCESS_KEY={{ backup_configurer.user_meta.access_keys.0.secret_access_key }}
AWS_REGION=eu-central-1
AWS_DEFAULT_REGION=eu-central-1
