# Do not check in this file into your version control, save in secure place.
# You will need it when creating new db instances to set up the backup backet for the db instance.
# Source this file before running AWS related commands.
# user: {{ backup_user_name | iam_user_arn() }}
export AWS_ACCESS_KEY_ID="{{ created_user.user_meta.access_keys.0.access_key_id }}"
export AWS_SECRET_ACCESS_KEY="{{ created_user.user_meta.access_keys.0.secret_access_key }}"
export AWS_REGION=eu-central-1
export AWS_DEFAULT_REGION=eu-central-1
