{
  "Id": "Policy1489654112721",
  "Version": "2012-10-17",
  "Statement": [
    {
      "Sid": "Stmt1489654107083",
      "Action": [
        "s3:ListBucket",
        "s3:Get*",
      ],
      "Effect": "Allow",
      "Resource": "arn:aws:s3:::{{ backup_bucket_name }}",
      "Principal": {
        "AWS": "{{ backup_user_name | iam_user_arn() }}"
      }
    },
    {
      "Sid": "Stmt1489654107083",
      "Action": [
        "s3:Get*",
        "s3:Put*"
      ],
      "Effect": "Allow",
      "Resource": "arn:aws:s3:::{{ backup_bucket_name }}/*",
      "Principal": {
        "AWS": "{{ backup_user_name | iam_user_arn() }}"
      }
    }
  ]
}
