#!/bin/bash

# {{ ansible_managed }}

echo
echo
echo
echo "***** STARTING FULL BACKUP *****"
echo
date -R
BUCKET={{ backup_bucket_name }}
FOLDER=`date "+%Y-%m-%d_%H-%M-%S.%N"`
echo BUCKET: $BUCKET
echo FOLDER: $FOLDER
. /var/local/postgresql/aws_backup.credentials.sh
echo Before this full backup:
aws s3 ls s3://$BUCKET

set -v
# For the duration of the full backup archive xlog to both, the previous and the new backup folder
echo "BUCKET_FOLDER=s3://$BUCKET/$FOLDER" > /var/local/postgresql/backup_bucket_folder_upcoming.sh
# Note: remove `--checkpoint=fast` if backup negatively impacts the request performance.
# But the plan is to run backup at low-load times anyway.
/usr/local/bin/pg_basebackup -D - --progress -Ft -x -z -Z 3 --checkpoint=fast | aws s3 cp - s3://$BUCKET/$FOLDER/basebackup.tar.gz
mv -f /var/local/postgresql/backup_bucket_folder_upcoming.sh /var/local/postgresql/backup_bucket_folder.sh
set +v

echo After backup:
aws s3 ls s3://$BUCKET
date -R
echo '-------'
